/**{*/
  /*background: #5BB082;*/
/*}*/

main {
  font-family: Verdana;
}

header {
  border: 1px double black;
  display: block;
  font-family: 'Play', sans-serif;
  vertical-align: top;
  text-align: center;

}

table {
  border: 3px solid black;
  margin: 1em;
  position: relative;
  right: 10px;
  top: 1em;
  text-align: center;
  width: 99%;
  font-family: 'Play', sans-serif;
}

aside {
  /*border: 1px solid black; take out border*/
  display: inline-block;
  margin-top: 40px;
  float: right;
  /*width: 30%; temp width until more about me?*/
  width: 20%;
}

aside p {
  text-align: left;
}

aside img {
  /*border: 1px solid black;*/
  margin-left: 0%;
  height: 200px;
  vertical-align: top;
  width: 200px;

}

ul li {
  text-align: left;
}

.main {
  border: 1px solid black;
  display: block;
  float: left;
  margin-top: 40px;
  text-align: left;
  width: 70%;
}

.main p b {
  text-align: center;
}