* {
  background: #F1ECC1;
  font-family: Verdana;
}

header {
  border: 1px solid black;
  display: block;
  height: 10em;
  width: 100%;
}

header a img {
  display: inline-block;
  height: 100px;
  width: 100px;
}

h1 {
  display: inline-block;
  position: relative;
  bottom: 20px;

}

h4 {

  margin-top: 0;
}

section {
  border: 1px solid black;
  display: inline-block;
  left:5px;
  margin-top: 1em;
  position: absolute;
  width: 65%;
}

aside {
  border: 1px solid black;
  display: inline-block;
  margin-top: 1em;
  position: absolute;
  right: 5px;
  width: 30%;

}

img#profile {

  height: 150px;
  width: 150px;
}
footer {
  border: 1px solid black;
  bottom: 0;
  display: block;
  margin-top: 1em;
  position: absolute;
  width: 100%;
}